body {
  background-color: #fff;
}

header {
  border-bottom: 8px solid #2b3a67;
}

header h1 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 3em;
  padding: 0px;
  margin: 10px;
  color: #0066ff;
  text-align: center;
}

main {
  padding-top: 1em;
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

section {
  background-color: #444;
  margin: 1em;
  text-align: center;
  border-radius: 20px;
}

section h2 {
  text-align: center;
  color: #0066ff;
  font-family: "Nunito", sans-serif;
}

section a {
  color: #bfd7ea;
}

section img {
  width: 80%;
}

section p {
  color: #bfd7ea;
  padding: 1em;
  text-align: left;
}
