header {
    text-align: center;
    color:cadetblue;
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin: 5%;
}

@media (min-width: 32em) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    border: 2px solid #6e6e6e;
    text-align: center;
    background-color: #c53c3c;
}

img {
    width: 150px;
}