@media (min-width: 32.5em) {
  .content-container {
    width: 80%;
  }

  header img {
    position: absolute;
    width: 80px;
    left: 10px;
  }

  header p {
    font-size: 1.25em;
  }

  .hero img {
    height: 350px;
  }

  .summary {
    position: absolute;
    opacity: 0.6;
  }

  .info img {
    height: 50px;
  }
}
