.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
img {
  opacity: 1;
  transition: opacity 0.75s;
}

img[data-src] {
  opacity: 0.5;
}
