body {
  background-color: #d6e9ff;
}

/* UTILITIES */
.centered {
  text-align: center;
}

/* HEADER SECTION */

header {
  background-color: #00397a;
  text-align: center;
  position: relative;
}

header img {
  position: absolute;
  width: 100px;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1050px) {
  header img {
    position: absolute;
    width: 80px;
    left: 10px;
  }
}

@media only screen and (max-width: 650px) {
  header img {
    display: none;
  }
}

header h1 {
  margin: 0px;
  color: #00b4d8;
  font-family: "Fraunces", serif;
  font-size: 3em;
}

@media only screen and (max-width: 500px) {
  header h1 {
    font-size: 2em;
  }
  header p {
    font-size: 1em;
  }
}

header p {
  color: #aaa;
  margin: 0px;
  font-size: 1.25em;
  padding: 10px;
  font-family: "Quattrocento Sans", sans-serif;
}

.content-container {
  margin: 0 auto;
  width: 60%;
}

@media only screen and (max-width: 1400px) {
  .content-container {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .content-container {
    width: 100%;
  }
}

nav {
  background-color: #1f87ff;
}

nav ul {
  margin: 0;
  padding: 3px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

@media only screen and (max-width: 1000px) {
  nav ul {
    flex-direction: column;
  }
}

nav ul li {
  margin: 0;
  padding: 10px;
  flex: 1;
  text-align: center;
}

nav ul li:first-child {
  display: none;
}

@media only screen and (max-width: 1000px) {
  nav ul li {
    display: none;
  }
  nav ul li:first-child {
    display: block;
    padding: 3px;
  }
  nav ul li:first-child a:hover {
    border: none;
  }
}

.close-menu {
  float: none;
}

.show-menu {
  display: block;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}

nav ul a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a img {
  width: 40px;
  float: left;
}

main {
  background-color: #fff;
  padding: 20px 0px;
}

main h2 {
  margin: 0px;
  font-family: "Fira Sans", sans-serif;
}

main p {
  font-family: "Quattrocento Sans", sans-serif;
  padding: 20px;
}

main section {
  background-color: rgb(226, 226, 226);
  margin: 0px 20px;
}

footer {
  padding: 20px 0px;
  background-color: #00397a;
  text-align: center;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}

footer a {
  color: #bfd7ea;
}

footer .update {
  color: #ffb563;
  font-weight: bold;
}

footer #last-update {
  font-weight: normal;
}
